.navbar-form.navbar-right
  .form-group
    = link_to sign_in_path, class: 'btn btn-default' do
      %i.glyphicon.glyphicon-log-in
      Sign In
    = link_to sign_up_path, class: 'btn btn-success' do
      %i.glyphicon.glyphicon-asterisk
      Sign Up
